body {
	background-color: #000;
	color: white;
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3 {
	/* Defaulting to no margin so I can set it myself when I want it */
	margin: 0px;
	text-align: center;
}

p {
	margin: 0px;
	text-align: center;
}

.IntroBlock {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'FiraMono Nerd Font Mono', 'Arial Narrow', Arial, sans-serif;
	font-weight: 800;

	padding-top: 8px;
}

.IntroBlock>h1 {
	font-size: 64pt;
	margin: 10px 0px 10px 0px;
}

.IntroBlock>p {
	font-size: 16pt;
	margin: 0px;
}

.HeaderImage {
	width: 10vw;
	aspect-ratio: 1/ 1;
	object-fit: cover;
	height: inherit;
	border-radius: 100%;
}

.SkillsBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
}

.Skills {
	padding: 8px;
	width: 75%;

	display: grid;
	grid-template-columns: 33% 33% 33%;


	background-color: white;
	border-radius: 16px;
}

.Skills>span {
	color: black;
}

.ContactBlock {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.ContactBlock>h1 {
	margin: 0px 0px 16px 0px;
}

.ContactBubbles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 0px 0px 16px 0px;
}

.ContactBubbles>span {
	margin: 0px 4px 0px 4px;
	background-color: white;

	border-radius: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.Footer {
	width: 100%;
	height: 10vh;
	text-align: center;
	color: gray;
	background-color: #111;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Footer>p>a {
	text-decoration: none;
	color: #555
}


.Footer>p>a:hover {
	text-decoration: underline;
	color: #666
}
